In [1]:
#Jai Sri Ram

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql import * 

spark = SparkSession.builder \
    .appName("Financial_Risk") \
    .getOrCreate()

spark = SparkSession.builder.appName("Financial_Risk").getOrCreate()

In [3]:
print("Spark is ready:", spark.version)

Spark is ready: 3.5.0

In [4]:
spark.version

'3.5.0'

In [5]:
import boto3
s3 = boto3.client("s3")
s3.list_buckets()

{'ResponseMetadata': {'RequestId': 'ACK1K6500PGEM92B',
  'HostId': 'yjdi/D0ZgTt8XSELRmepVtwQxdB5gEJaw44vPwd+9GaID+KEy6Fc033WpDAqIMR+HPGHh+5IcXg=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'yjdi/D0ZgTt8XSELRmepVtwQxdB5gEJaw44vPwd+9GaID+KEy6Fc033WpDAqIMR+HPGHh+5IcXg=',
   'x-amz-request-id': 'ACK1K6500PGEM92B',
   'date': 'Sun, 03 Aug 2025 07:46:30 GMT',
   'content-type': 'application/xml',
   'transfer-encoding': 'chunked',
   'server': 'AmazonS3'},
  'RetryAttempts': 0},
 'Buckets': [{'Name': 'aws-logs-315689562130-us-east-1',
   'CreationDate': datetime.datetime(2024, 12, 29, 11, 7, 52, tzinfo=tzlocal())},
  {'Name': 'ec2-emr-prod-data',
   'CreationDate': datetime.datetime(2024, 12, 29, 10, 19, 48, tzinfo=tzlocal())},
  {'Name': 'ec2-emr-raw-data',
   'CreationDate': datetime.datetime(2024, 12, 29, 10, 19, 14, tzinfo=tzlocal())},
  {'Name': 'emr-ec2-processing-script',
   'CreationDate': datetime.datetime(2024, 12, 29, 10, 34, 23, tzinfo=tzlocal())},
  {'Name': 'my-allproject-logs',
   'CreationDate': datetime.datetime(2025, 3, 16, 12, 18, 27, tzinfo=tzlocal())},
  {'Name': 'spark-project-prod-bucket',
   'CreationDate': datetime.datetime(2025, 1, 25, 5, 21, 1, tzinfo=tzlocal())},
  {'Name': 'spark-project-raw-bucket',
   'CreationDate': datetime.datetime(2025, 1, 25, 5, 20, 31, tzinfo=tzlocal())},
  {'Name': 'testing-purpose-for-projects',
   'CreationDate': datetime.datetime(2025, 7, 6, 12, 43, 7, tzinfo=tzlocal())}],
 'Owner': {'DisplayName': 'ajayab7799',
  'ID': '15714143a013a7d87747c3e23bed860d48d9780f024b744ec7aa21e88ca2570c'}}

In [6]:
df = spark.read.csv('financial_risk.csv',header=True, inferSchema = True)

In [7]:
df.show()

+---+----------+---------------+--------------+--------+------------+-----------+------------+-----------------+--------------------+---------------+--------------------+------------+--------------------+----------------+-----+--------------------+-----------------+---------------------+-----------+
|Age|    Gender|Education Level|Marital Status|  Income|Credit Score|Loan Amount|Loan Purpose|Employment Status|Years at Current Job|Payment History|Debt-to-Income Ratio|Assets Value|Number of Dependents|            City|State|             Country|Previous Defaults|Marital Status Change|Risk Rating|
+---+----------+---------------+--------------+--------+------------+-----------+------------+-----------------+--------------------+---------------+--------------------+------------+--------------------+----------------+-----+--------------------+-----------------+---------------------+-----------+
| 49|      Male|            PhD|      Divorced| 72799.0|       688.0|    45713.0|    Business|       Unemployed|                  19|           Poor| 0.15431329631270066|    120228.0|                 0.0|  Port Elizabeth|   AS|              Cyprus|              2.0|                    2|        Low|
| 57|    Female|     Bachelor's|       Widowed|    NULL|       690.0|    33835.0|        Auto|         Employed|                   6|           Fair| 0.14891964322471593|     55849.0|                 0.0| North Catherine|   OH|        Turkmenistan|              3.0|                    2|     Medium|
| 21|Non-binary|       Master's|        Single| 55687.0|       600.0|    36623.0|        Home|         Employed|                   8|           Fair| 0.36239801732546084|    180700.0|                 3.0|     South Scott|   OK|          Luxembourg|              3.0|                    2|     Medium|
| 59|      Male|     Bachelor's|        Single| 26508.0|       622.0|    26541.0|    Personal|       Unemployed|                   2|      Excellent| 0.45496438073379486|    157319.0|                 3.0|      Robinhaven|   PR|              Uganda|              4.0|                    2|     Medium|
| 25|Non-binary|     Bachelor's|       Widowed| 49427.0|       766.0|    36528.0|    Personal|       Unemployed|                  10|           Fair| 0.14324242402046136|    287140.0|                NULL|     New Heather|   IL|             Namibia|              3.0|                    1|        Low|
| 30|Non-binary|            PhD|      Divorced|    NULL|       717.0|    15613.0|    Business|       Unemployed|                   5|           Fair|  0.2959844500430854|        NULL|                 4.0|       Brianland|   TN|             Iceland|              3.0|                    1|     Medium|
| 31|Non-binary|       Master's|       Widowed| 45280.0|       672.0|     6553.0|    Personal|    Self-employed|                   1|           Good| 0.37888993741531785|        NULL|                NULL|  West Lindaview|   MD|Bouvet Island (Bo...|              0.0|                    1|        Low|
| 18|      Male|     Bachelor's|       Widowed| 93678.0|        NULL|       NULL|    Business|       Unemployed|                  10|           Poor|  0.3966357236164678|    246597.0|                 1.0|    Melissahaven|   MA|            Honduras|              1.0|                    1|        Low|
| 32|Non-binary|     Bachelor's|       Widowed| 20205.0|       710.0|       NULL|        Auto|       Unemployed|                   4|           Fair|   0.335964977578598|    227599.0|                 0.0|   North Beverly|   DC|    Pitcairn Islands|              4.0|                    2|        Low|
| 55|      Male|     Bachelor's|       Married| 32190.0|       600.0|    29918.0|    Personal|    Self-employed|                   5|      Excellent| 0.48433330455936785|    130507.0|                 4.0|       Davidstad|   VT|            Thailand|             NULL|                    2|        Low|
| 42|Non-binary|       Master's|        Single|116212.0|       707.0|    24771.0|        Home|         Employed|                  11|      Excellent| 0.11413374759829523|    212198.0|                 3.0|  Matthewborough|   NH|       French Guiana|              0.0|                    2|     Medium|
| 37|Non-binary|       Master's|      Divorced| 78855.0|       718.0|       NULL|        Home|    Self-employed|                  17|           Poor| 0.19392128861142002|    272522.0|                NULL|         Orrstad|   OH|Antarctica (the t...|              3.0|                    2|        Low|
| 60|    Female|            PhD|      Divorced|    NULL|       686.0|    15497.0|    Personal|    Self-employed|                  18|           Poor| 0.32817470742252786|     47603.0|                 4.0|West Kelseymouth|   NM|             Eritrea|              2.0|                    2|       High|
| 68|      Male|    High School|      Divorced| 79454.0|       688.0|    43365.0|    Personal|    Self-employed|                  15|           Good| 0.32928154385036545|     61967.0|                NULL|      Dakotafurt|   IA|             Grenada|              3.0|                    0|     Medium|
| 29|      Male|    High School|      Divorced|119510.0|        NULL|     5013.0|        Auto|         Employed|                  17|           Poor| 0.49972186119334105|     50568.0|                NULL|     Deborahtown|   AZ|     Solomon Islands|              2.0|                    2|     Medium|
| 68|    Female|            PhD|      Divorced|    NULL|        NULL|    42951.0|        Auto|    Self-employed|                   6|           Fair|  0.5507459353458977|     67070.0|                 4.0|    East Kristin|   MH|          Guadeloupe|              2.0|                    2|        Low|
| 55|      Male|    High School|       Married| 70978.0|       706.0|    36970.0|    Personal|       Unemployed|                  19|      Excellent| 0.26694090925040004|     54041.0|                 3.0|Christophermouth|   MO|               Tonga|              1.0|                    0|     Medium|
| 18|    Female|       Master's|       Widowed|102628.0|       654.0|    25442.0|        Home|       Unemployed|                   8|           Poor|  0.1618325788225118|        NULL|                 3.0|    West Patrick|   IA|              Taiwan|              1.0|                    2|     Medium|
| 60|Non-binary|     Bachelor's|      Divorced|    NULL|       738.0|    37001.0|    Business|         Employed|                   7|           Fair| 0.33897097318669367|     53055.0|                NULL|     Johnsonstad|   MS|              Malawi|              1.0|                    2|        Low|
| 56|Non-binary|            PhD|       Married| 21084.0|       702.0|    22039.0|    Personal|         Employed|                  19|           Fair| 0.23104637400031283|    226053.0|                 2.0|      East James|   MP|         Isle of Man|              0.0|                    2|     Medium|
+---+----------+---------------+--------------+--------+------------+-----------+------------+-----------------+--------------------+---------------+--------------------+------------+--------------------+----------------+-----+--------------------+-----------------+---------------------+-----------+
only showing top 20 rows

In [8]:
df_main = df.selectExpr("row_number() over(order by age) as id", "*")

In [10]:
df_main.show(9)

+---+---+----------+---------------+--------------+--------+------------+-----------+------------+-----------------+--------------------+---------------+--------------------+------------+--------------------+-----------------+-----+--------------------+-----------------+---------------------+-----------+
| id|Age|    Gender|Education Level|Marital Status|  Income|Credit Score|Loan Amount|Loan Purpose|Employment Status|Years at Current Job|Payment History|Debt-to-Income Ratio|Assets Value|Number of Dependents|             City|State|             Country|Previous Defaults|Marital Status Change|Risk Rating|
+---+---+----------+---------------+--------------+--------+------------+-----------+------------+-----------------+--------------------+---------------+--------------------+------------+--------------------+-----------------+-----+--------------------+-----------------+---------------------+-----------+
|  1| 18|    Female|            PhD|        Single| 87346.0|        NULL|    26863.0|        Home|         Employed|                  11|           Poor|  0.5565990541229334|    164061.0|                 3.0| South Jeremyfurt|   AK|       Cote d'Ivoire|              3.0|                    1|        Low|
|  2| 18|      Male|       Master's|       Widowed| 84162.0|       606.0|     5015.0|    Business|    Self-employed|                  17|           Poor|  0.3890696709800946|    275773.0|                 1.0|      Amandamouth|   KS|            Cambodia|              1.0|                    2|        Low|
|  3| 18|Non-binary|    High School|      Divorced| 27313.0|       786.0|    24399.0|        Auto|    Self-employed|                  10|      Excellent|  0.1510468100347879|    284643.0|                 4.0|      Traceyshire|   FL|     North Macedonia|             NULL|                    2|        Low|
|  4| 18|      Male|     Bachelor's|       Widowed| 93678.0|        NULL|       NULL|    Business|       Unemployed|                  10|           Poor|  0.3966357236164678|    246597.0|                 1.0|     Melissahaven|   MA|            Honduras|              1.0|                    1|        Low|
|  5| 18|Non-binary|       Master's|        Single|    NULL|       651.0|    18653.0|        Home|    Self-employed|                  16|           Good| 0.49222995000773917|    226806.0|                 0.0|      Curtisville|   PW|             Mayotte|              3.0|                    1|       High|
|  6| 18|Non-binary|            PhD|      Divorced|107329.0|       735.0|    22694.0|        Home|    Self-employed|                   1|           Poor|   0.232809019850618|     71327.0|                 4.0|     East Michael|   MP|Netherlands Antilles|             NULL|                    1|        Low|
|  7| 18|    Female|       Master's|      Divorced|    NULL|       748.0|    14522.0|        Home|       Unemployed|                  14|           Good|  0.5628099578361062|    176629.0|                NULL|     Campbellfort|   AL|               China|              1.0|                    2|        Low|
|  8| 18|    Female|       Master's|       Widowed|102628.0|       654.0|    25442.0|        Home|       Unemployed|                   8|           Poor|  0.1618325788225118|        NULL|                 3.0|     West Patrick|   IA|              Taiwan|              1.0|                    2|     Medium|
|  9| 18|Non-binary|    High School|       Widowed| 99671.0|       669.0|    30460.0|    Personal|       Unemployed|                  18|           Poor|  0.4338122306863922|     25531.0|                 1.0|Jacquelineborough|   MP|              Greece|              1.0|                    1|     Medium|
+---+---+----------+---------------+--------------+--------+------------+-----------+------------+-----------------+--------------------+---------------+--------------------+------------+--------------------+-----------------+-----+--------------------+-----------------+---------------------+-----------+
only showing top 9 rows

In [11]:
df_main_1 = df_main.selectExpr("id","Gender",
    "`Education level` as Qualification",
    "`Marital Status` as Marital_status",
    "Income",
    "`Credit Score` as Credit_score",
    "`Loan Amount` as Loan_Amount",
    "`Loan Purpose` as Loan_Purpose",
    "`Employment Status` as Employment_Status",
    "`Years at Current Job` as Current_Job_YOE",
    "`Payment History` as Payment_History",
    "`Debt-to-Income Ratio` as Debt_to_Income_Ratio",
    "`Assets Value` as Assets_Value",
    "`Number of Dependents` as Dependents",
    "City",
    "State",
    "Country",
    "`Previous Defaults` as Previous_Defaults",
    "`Risk Rating` as Risk_Rating"
)

In [12]:
df_main_1.show()

+---+----------+-------------+--------------+--------+------------+-----------+------------+-----------------+---------------+---------------+--------------------+------------+----------+------------------+-----+--------------------+-----------------+-----------+
| id|    Gender|Qualification|Marital_status|  Income|Credit_score|Loan_Amount|Loan_Purpose|Employment_Status|Current_Job_YOE|Payment_History|Debt_to_Income_Ratio|Assets_Value|Dependents|              City|State|             Country|Previous_Defaults|Risk_Rating|
+---+----------+-------------+--------------+--------+------------+-----------+------------+-----------------+---------------+---------------+--------------------+------------+----------+------------------+-----+--------------------+-----------------+-----------+
|  1|      Male|   Bachelor's|       Widowed| 25605.0|       751.0|    14785.0|        Auto|       Unemployed|             17|           Fair| 0.33994669003424505|    285745.0|       3.0|      Samanthastad|   MI|               Congo|              1.0|       High|
|  2|Non-binary|     Master's|       Widowed|    NULL|       779.0|    17616.0|        Auto|         Employed|             18|      Excellent|  0.1515554246622575|    257783.0|      NULL|      New Johnland|   WA|              Jordan|              1.0|       High|
|  3|Non-binary|   Bachelor's|       Married| 36756.0|       608.0|    13957.0|    Personal|       Unemployed|              0|           Fair| 0.15481403667787233|    245075.0|       4.0|      Port Jessica|   FL|            Tanzania|              2.0|       High|
|  4|      Male|     Master's|       Widowed| 84162.0|       606.0|     5015.0|    Business|    Self-employed|             17|           Poor|  0.3890696709800946|    275773.0|       1.0|       Amandamouth|   KS|            Cambodia|              1.0|        Low|
|  5|    Female|   Bachelor's|        Single|117270.0|       639.0|    12351.0|    Business|    Self-employed|              1|           Poor|  0.1654573496046464|    186272.0|       4.0|       Donaldville|   HI|               Egypt|              3.0|     Medium|
|  6|Non-binary|     Master's|        Single|    NULL|       651.0|    18653.0|        Home|    Self-employed|             16|           Good| 0.49222995000773917|    226806.0|       0.0|       Curtisville|   PW|             Mayotte|              3.0|       High|
|  7|Non-binary|     Master's|      Divorced|    NULL|        NULL|    32113.0|        Home|         Employed|              2|      Excellent| 0.15963381099114013|     50047.0|       3.0|        Joneshaven|   MN|              Kuwait|              2.0|     Medium|
|  8|    Female|     Master's|      Divorced|    NULL|       748.0|    14522.0|        Home|       Unemployed|             14|           Good|  0.5628099578361062|    176629.0|      NULL|      Campbellfort|   AL|               China|              1.0|        Low|
|  9|    Female|     Master's|       Married| 45187.0|       626.0|    35335.0|    Business|    Self-employed|              6|      Excellent| 0.34850421550255795|     96908.0|       4.0|      Port Antonio|   WY|              Brazil|             NULL|     Medium|
| 10|Non-binary|  High School|      Divorced| 27313.0|       786.0|    24399.0|        Auto|    Self-employed|             10|      Excellent|  0.1510468100347879|    284643.0|       4.0|       Traceyshire|   FL|     North Macedonia|             NULL|        Low|
| 11|      Male|  High School|       Married| 77154.0|       726.0|       NULL|        Home|    Self-employed|              7|           Good|  0.2279881245447676|    281128.0|       2.0|  East Thomasmouth|   MN|           Hong Kong|              2.0|        Low|
| 12|Non-binary|     Master's|       Widowed| 71500.0|       734.0|    44400.0|    Personal|    Self-employed|             14|      Excellent| 0.24810419892321986|    127985.0|       4.0|        Dustinbury|   CT|              Malawi|             NULL|        Low|
| 13|      Male|  High School|      Divorced| 41788.0|       656.0|    41755.0|        Home|         Employed|             17|           Poor|  0.2574316877026943|    161590.0|       0.0|   West Danielland|   MA|     Kyrgyz Republic|              1.0|     Medium|
| 14|      Male|          PhD|       Married| 80378.0|       639.0|    31920.0|    Business|         Employed|             11|           Good| 0.12484854148582583|    214743.0|       3.0|    South Amymouth|   IA|               Macao|              3.0|     Medium|
| 15|    Female|   Bachelor's|      Divorced| 22774.0|       603.0|    42803.0|        Home|         Employed|              1|      Excellent|  0.4430711586017164|        NULL|       2.0|       Josephmouth|   WY|             Reunion|              3.0|     Medium|
| 16|    Female|  High School|       Widowed|116604.0|        NULL|       NULL|        Auto|         Employed|             11|           Good|  0.5675990092599666|     85418.0|       0.0|       West Kimton|   CT|              Zambia|              0.0|     Medium|
| 17|Non-binary|   Bachelor's|       Married| 73140.0|       621.0|    29726.0|    Business|       Unemployed|              5|           Fair|  0.3763911109004887|     86124.0|       2.0|        Fowlerport|   GU|Central African R...|              2.0|     Medium|
| 18|      Male|   Bachelor's|      Divorced| 63578.0|       681.0|    26888.0|    Business|         Employed|             12|           Fair| 0.10171080242950517|     49558.0|       2.0|North Shannonmouth|   IA|           Venezuela|              4.0|        Low|
| 19|    Female|     Master's|        Single|    NULL|       642.0|       NULL|    Personal|    Self-employed|             12|           Poor|  0.3699720501674575|    198426.0|       3.0|      Lake Charles|   GU|            Honduras|             NULL|        Low|
| 20|Non-binary|  High School|      Divorced| 65344.0|       724.0|       NULL|    Business|         Employed|              2|      Excellent| 0.18053225665211273|     77683.0|       3.0|     Christineside|   MH|              Angola|              4.0|        Low|
+---+----------+-------------+--------------+--------+------------+-----------+------------+-----------------+---------------+---------------+--------------------+------------+----------+------------------+-----+--------------------+-----------------+-----------+
only showing top 20 rows

In [13]:
df_gender = df_main_1.select('Gender').groupBy('Gender').count()

In [14]:
df_gender.show()

+----------+-----+
|    Gender|count|
+----------+-----+
|    Female| 4990|
|Non-binary| 5059|
|      Male| 4951|
+----------+-----+

In [15]:
df_main_1.createOrReplaceTempView('financial_risk_table')

In [16]:
df_loanPurpose = spark.sql("select Loan_Purpose,count(1) from financial_risk_table group by Loan_Purpose")

In [17]:
df_loanPurpose.show()

+------------+--------+
|Loan_Purpose|count(1)|
+------------+--------+
|        Home|    3766|
|    Personal|    3771|
|        Auto|    3725|
|    Business|    3738|
+------------+--------+

In [18]:
df_study = spark.sql("select qualification,count(1) cnt from financial_risk_table group by 1")

In [19]:
df_study.show()

+-------------+----+
|qualification| cnt|
+-------------+----+
|  High School|3774|
|          PhD|3760|
|   Bachelor's|3829|
|     Master's|3637|
+-------------+----+

In [20]:
df_qualification_altered = spark.sql("""
    SELECT 
        CASE 
            WHEN Trim(Qualification) LIKE '%Bachelor''s%' THEN 'UG'
            WHEN Trim(Qualification) LIKE '%Master''s%' THEN 'PG'
            WHEN Trim(Qualification) ILIKE '%High School%' THEN 'High_School'
            ELSE Qualification 
        END AS Qualification
    FROM financial_risk_table
""")

In [21]:
df_qualification_altered.show()

+-------------+
|Qualification|
+-------------+
|          PhD|
|   Bachelor's|
|     Master's|
|   Bachelor's|
|   Bachelor's|
|          PhD|
|     Master's|
|   Bachelor's|
|   Bachelor's|
|   Bachelor's|
|     Master's|
|     Master's|
|          PhD|
|  High_School|
|  High_School|
|          PhD|
|  High_School|
|     Master's|
|   Bachelor's|
|          PhD|
+-------------+
only showing top 20 rows

In [22]:
from pyspark.sql.functions import when, col, lower, trim

df_qualification_altered = df_main_1.withColumn(
    "Qualification",
    when(lower(trim(col("Qualification"))).like("%bachelor's%"), "UG")
    .when(lower(trim(col("Qualification"))).like("%master's%"), "PG")
    .when(lower(trim(col("Qualification"))).like("%high school%"), "HS")
    .otherwise(col("Qualification"))
)

In [23]:
df_qualification_altered.show()

+---+----------+-------------+--------------+--------+------------+-----------+------------+-----------------+---------------+---------------+--------------------+------------+----------+------------------+-----+--------------------+-----------------+-----------+
| id|    Gender|Qualification|Marital_status|  Income|Credit_score|Loan_Amount|Loan_Purpose|Employment_Status|Current_Job_YOE|Payment_History|Debt_to_Income_Ratio|Assets_Value|Dependents|              City|State|             Country|Previous_Defaults|Risk_Rating|
+---+----------+-------------+--------------+--------+------------+-----------+------------+-----------------+---------------+---------------+--------------------+------------+----------+------------------+-----+--------------------+-----------------+-----------+
|  1|      Male|           UG|       Widowed| 25605.0|       751.0|    14785.0|        Auto|       Unemployed|             17|           Fair| 0.33994669003424505|    285745.0|       3.0|      Samanthastad|   MI|               Congo|              1.0|       High|
|  2|Non-binary|           PG|       Widowed|    NULL|       779.0|    17616.0|        Auto|         Employed|             18|      Excellent|  0.1515554246622575|    257783.0|      NULL|      New Johnland|   WA|              Jordan|              1.0|       High|
|  3|Non-binary|           UG|       Married| 36756.0|       608.0|    13957.0|    Personal|       Unemployed|              0|           Fair| 0.15481403667787233|    245075.0|       4.0|      Port Jessica|   FL|            Tanzania|              2.0|       High|
|  4|      Male|           PG|       Widowed| 84162.0|       606.0|     5015.0|    Business|    Self-employed|             17|           Poor|  0.3890696709800946|    275773.0|       1.0|       Amandamouth|   KS|            Cambodia|              1.0|        Low|
|  5|    Female|           UG|        Single|117270.0|       639.0|    12351.0|    Business|    Self-employed|              1|           Poor|  0.1654573496046464|    186272.0|       4.0|       Donaldville|   HI|               Egypt|              3.0|     Medium|
|  6|Non-binary|           PG|        Single|    NULL|       651.0|    18653.0|        Home|    Self-employed|             16|           Good| 0.49222995000773917|    226806.0|       0.0|       Curtisville|   PW|             Mayotte|              3.0|       High|
|  7|Non-binary|           PG|      Divorced|    NULL|        NULL|    32113.0|        Home|         Employed|              2|      Excellent| 0.15963381099114013|     50047.0|       3.0|        Joneshaven|   MN|              Kuwait|              2.0|     Medium|
|  8|    Female|           PG|      Divorced|    NULL|       748.0|    14522.0|        Home|       Unemployed|             14|           Good|  0.5628099578361062|    176629.0|      NULL|      Campbellfort|   AL|               China|              1.0|        Low|
|  9|    Female|           PG|       Married| 45187.0|       626.0|    35335.0|    Business|    Self-employed|              6|      Excellent| 0.34850421550255795|     96908.0|       4.0|      Port Antonio|   WY|              Brazil|             NULL|     Medium|
| 10|Non-binary|           HS|      Divorced| 27313.0|       786.0|    24399.0|        Auto|    Self-employed|             10|      Excellent|  0.1510468100347879|    284643.0|       4.0|       Traceyshire|   FL|     North Macedonia|             NULL|        Low|
| 11|      Male|           HS|       Married| 77154.0|       726.0|       NULL|        Home|    Self-employed|              7|           Good|  0.2279881245447676|    281128.0|       2.0|  East Thomasmouth|   MN|           Hong Kong|              2.0|        Low|
| 12|Non-binary|           PG|       Widowed| 71500.0|       734.0|    44400.0|    Personal|    Self-employed|             14|      Excellent| 0.24810419892321986|    127985.0|       4.0|        Dustinbury|   CT|              Malawi|             NULL|        Low|
| 13|      Male|           HS|      Divorced| 41788.0|       656.0|    41755.0|        Home|         Employed|             17|           Poor|  0.2574316877026943|    161590.0|       0.0|   West Danielland|   MA|     Kyrgyz Republic|              1.0|     Medium|
| 14|      Male|          PhD|       Married| 80378.0|       639.0|    31920.0|    Business|         Employed|             11|           Good| 0.12484854148582583|    214743.0|       3.0|    South Amymouth|   IA|               Macao|              3.0|     Medium|
| 15|    Female|           UG|      Divorced| 22774.0|       603.0|    42803.0|        Home|         Employed|              1|      Excellent|  0.4430711586017164|        NULL|       2.0|       Josephmouth|   WY|             Reunion|              3.0|     Medium|
| 16|    Female|           HS|       Widowed|116604.0|        NULL|       NULL|        Auto|         Employed|             11|           Good|  0.5675990092599666|     85418.0|       0.0|       West Kimton|   CT|              Zambia|              0.0|     Medium|
| 17|Non-binary|           UG|       Married| 73140.0|       621.0|    29726.0|    Business|       Unemployed|              5|           Fair|  0.3763911109004887|     86124.0|       2.0|        Fowlerport|   GU|Central African R...|              2.0|     Medium|
| 18|      Male|           UG|      Divorced| 63578.0|       681.0|    26888.0|    Business|         Employed|             12|           Fair| 0.10171080242950517|     49558.0|       2.0|North Shannonmouth|   IA|           Venezuela|              4.0|        Low|
| 19|    Female|           PG|        Single|    NULL|       642.0|       NULL|    Personal|    Self-employed|             12|           Poor|  0.3699720501674575|    198426.0|       3.0|      Lake Charles|   GU|            Honduras|             NULL|        Low|
| 20|Non-binary|           HS|      Divorced| 65344.0|       724.0|       NULL|    Business|         Employed|              2|      Excellent| 0.18053225665211273|     77683.0|       3.0|     Christineside|   MH|              Angola|              4.0|        Low|
+---+----------+-------------+--------------+--------+------------+-----------+------------+-----------------+---------------+---------------+--------------------+------------+----------+------------------+-----+--------------------+-----------------+-----------+
only showing top 20 rows

In [24]:
spark.sql('''select case when income > 0 then 'amount' else 'null' end income_dist,count(1)
from financial_risk_table group by  income_dist ''').show()

+-----------+--------+
|income_dist|count(1)|
+-----------+--------+
|     amount|   12750|
|       null|    2250|
+-----------+--------+

In [25]:
# df_income = spark.sql(''' update financial_risk_table
#     set Income = 0.0 
#     where Income is NULL''').show()

df_income = df_qualification_altered.fillna(0.0, subset=['Income'])

In [26]:
df_income.show()
df_income.createOrReplaceTempView('financial_risk_table')

+---+----------+-------------+--------------+--------+------------+-----------+------------+-----------------+---------------+---------------+--------------------+------------+----------+------------------+-----+--------------------+-----------------+-----------+
| id|    Gender|Qualification|Marital_status|  Income|Credit_score|Loan_Amount|Loan_Purpose|Employment_Status|Current_Job_YOE|Payment_History|Debt_to_Income_Ratio|Assets_Value|Dependents|              City|State|             Country|Previous_Defaults|Risk_Rating|
+---+----------+-------------+--------------+--------+------------+-----------+------------+-----------------+---------------+---------------+--------------------+------------+----------+------------------+-----+--------------------+-----------------+-----------+
|  1|      Male|           UG|       Widowed| 25605.0|       751.0|    14785.0|        Auto|       Unemployed|             17|           Fair| 0.33994669003424505|    285745.0|       3.0|      Samanthastad|   MI|               Congo|              1.0|       High|
|  2|Non-binary|           PG|       Widowed|     0.0|       779.0|    17616.0|        Auto|         Employed|             18|      Excellent|  0.1515554246622575|    257783.0|      NULL|      New Johnland|   WA|              Jordan|              1.0|       High|
|  3|Non-binary|           UG|       Married| 36756.0|       608.0|    13957.0|    Personal|       Unemployed|              0|           Fair| 0.15481403667787233|    245075.0|       4.0|      Port Jessica|   FL|            Tanzania|              2.0|       High|
|  4|      Male|           PG|       Widowed| 84162.0|       606.0|     5015.0|    Business|    Self-employed|             17|           Poor|  0.3890696709800946|    275773.0|       1.0|       Amandamouth|   KS|            Cambodia|              1.0|        Low|
|  5|    Female|           UG|        Single|117270.0|       639.0|    12351.0|    Business|    Self-employed|              1|           Poor|  0.1654573496046464|    186272.0|       4.0|       Donaldville|   HI|               Egypt|              3.0|     Medium|
|  6|Non-binary|           PG|        Single|     0.0|       651.0|    18653.0|        Home|    Self-employed|             16|           Good| 0.49222995000773917|    226806.0|       0.0|       Curtisville|   PW|             Mayotte|              3.0|       High|
|  7|Non-binary|           PG|      Divorced|     0.0|        NULL|    32113.0|        Home|         Employed|              2|      Excellent| 0.15963381099114013|     50047.0|       3.0|        Joneshaven|   MN|              Kuwait|              2.0|     Medium|
|  8|    Female|           PG|      Divorced|     0.0|       748.0|    14522.0|        Home|       Unemployed|             14|           Good|  0.5628099578361062|    176629.0|      NULL|      Campbellfort|   AL|               China|              1.0|        Low|
|  9|    Female|           PG|       Married| 45187.0|       626.0|    35335.0|    Business|    Self-employed|              6|      Excellent| 0.34850421550255795|     96908.0|       4.0|      Port Antonio|   WY|              Brazil|             NULL|     Medium|
| 10|Non-binary|           HS|      Divorced| 27313.0|       786.0|    24399.0|        Auto|    Self-employed|             10|      Excellent|  0.1510468100347879|    284643.0|       4.0|       Traceyshire|   FL|     North Macedonia|             NULL|        Low|
| 11|      Male|           HS|       Married| 77154.0|       726.0|       NULL|        Home|    Self-employed|              7|           Good|  0.2279881245447676|    281128.0|       2.0|  East Thomasmouth|   MN|           Hong Kong|              2.0|        Low|
| 12|Non-binary|           PG|       Widowed| 71500.0|       734.0|    44400.0|    Personal|    Self-employed|             14|      Excellent| 0.24810419892321986|    127985.0|       4.0|        Dustinbury|   CT|              Malawi|             NULL|        Low|
| 13|      Male|           HS|      Divorced| 41788.0|       656.0|    41755.0|        Home|         Employed|             17|           Poor|  0.2574316877026943|    161590.0|       0.0|   West Danielland|   MA|     Kyrgyz Republic|              1.0|     Medium|
| 14|      Male|          PhD|       Married| 80378.0|       639.0|    31920.0|    Business|         Employed|             11|           Good| 0.12484854148582583|    214743.0|       3.0|    South Amymouth|   IA|               Macao|              3.0|     Medium|
| 15|    Female|           UG|      Divorced| 22774.0|       603.0|    42803.0|        Home|         Employed|              1|      Excellent|  0.4430711586017164|        NULL|       2.0|       Josephmouth|   WY|             Reunion|              3.0|     Medium|
| 16|    Female|           HS|       Widowed|116604.0|        NULL|       NULL|        Auto|         Employed|             11|           Good|  0.5675990092599666|     85418.0|       0.0|       West Kimton|   CT|              Zambia|              0.0|     Medium|
| 17|Non-binary|           UG|       Married| 73140.0|       621.0|    29726.0|    Business|       Unemployed|              5|           Fair|  0.3763911109004887|     86124.0|       2.0|        Fowlerport|   GU|Central African R...|              2.0|     Medium|
| 18|      Male|           UG|      Divorced| 63578.0|       681.0|    26888.0|    Business|         Employed|             12|           Fair| 0.10171080242950517|     49558.0|       2.0|North Shannonmouth|   IA|           Venezuela|              4.0|        Low|
| 19|    Female|           PG|        Single|     0.0|       642.0|       NULL|    Personal|    Self-employed|             12|           Poor|  0.3699720501674575|    198426.0|       3.0|      Lake Charles|   GU|            Honduras|             NULL|        Low|
| 20|Non-binary|           HS|      Divorced| 65344.0|       724.0|       NULL|    Business|         Employed|              2|      Excellent| 0.18053225665211273|     77683.0|       3.0|     Christineside|   MH|              Angola|              4.0|        Low|
+---+----------+-------------+--------------+--------+------------+-----------+------------+-----------------+---------------+---------------+--------------------+------------+----------+------------------+-----+--------------------+-----------------+-----------+
only showing top 20 rows

In [27]:
spark.sql("""
SELECT 
    CASE 
        WHEN Income IS NULL THEN 'missing'
        WHEN Income = 0 THEN 'zero'
        WHEN Income > 0 THEN 'amount'
        ELSE 'other'
    END AS income_dist,
    COUNT(1) AS total_count
FROM financial_risk_table
GROUP BY 
    CASE 
        WHEN Income IS NULL THEN 'missing'
        WHEN Income = 0 THEN 'zero'
        WHEN Income > 0 THEN 'amount'
        ELSE 'other'
    END

""").show()

+-----------+-----------+
|income_dist|total_count|
+-----------+-----------+
|       zero|       2250|
|     amount|      12750|
+-----------+-----------+

In [28]:
df_not_nulls = df_income.fillna(0.0, subset=['Loan_Amount','Credit_Score','Dependents','Previous_Defaults'])

In [29]:
df_not_nulls.show()

+---+----------+-------------+--------------+--------+------------+-----------+------------+-----------------+---------------+---------------+--------------------+------------+----------+------------------+-----+--------------------+-----------------+-----------+
| id|    Gender|Qualification|Marital_status|  Income|Credit_score|Loan_Amount|Loan_Purpose|Employment_Status|Current_Job_YOE|Payment_History|Debt_to_Income_Ratio|Assets_Value|Dependents|              City|State|             Country|Previous_Defaults|Risk_Rating|
+---+----------+-------------+--------------+--------+------------+-----------+------------+-----------------+---------------+---------------+--------------------+------------+----------+------------------+-----+--------------------+-----------------+-----------+
|  1|      Male|           UG|       Widowed| 25605.0|       751.0|    14785.0|        Auto|       Unemployed|             17|           Fair| 0.33994669003424505|    285745.0|       3.0|      Samanthastad|   MI|               Congo|              1.0|       High|
|  2|Non-binary|           PG|       Widowed|     0.0|       779.0|    17616.0|        Auto|         Employed|             18|      Excellent|  0.1515554246622575|    257783.0|       0.0|      New Johnland|   WA|              Jordan|              1.0|       High|
|  3|Non-binary|           UG|       Married| 36756.0|       608.0|    13957.0|    Personal|       Unemployed|              0|           Fair| 0.15481403667787233|    245075.0|       4.0|      Port Jessica|   FL|            Tanzania|              2.0|       High|
|  4|      Male|           PG|       Widowed| 84162.0|       606.0|     5015.0|    Business|    Self-employed|             17|           Poor|  0.3890696709800946|    275773.0|       1.0|       Amandamouth|   KS|            Cambodia|              1.0|        Low|
|  5|    Female|           UG|        Single|117270.0|       639.0|    12351.0|    Business|    Self-employed|              1|           Poor|  0.1654573496046464|    186272.0|       4.0|       Donaldville|   HI|               Egypt|              3.0|     Medium|
|  6|Non-binary|           PG|        Single|     0.0|       651.0|    18653.0|        Home|    Self-employed|             16|           Good| 0.49222995000773917|    226806.0|       0.0|       Curtisville|   PW|             Mayotte|              3.0|       High|
|  7|Non-binary|           PG|      Divorced|     0.0|         0.0|    32113.0|        Home|         Employed|              2|      Excellent| 0.15963381099114013|     50047.0|       3.0|        Joneshaven|   MN|              Kuwait|              2.0|     Medium|
|  8|    Female|           PG|      Divorced|     0.0|       748.0|    14522.0|        Home|       Unemployed|             14|           Good|  0.5628099578361062|    176629.0|       0.0|      Campbellfort|   AL|               China|              1.0|        Low|
|  9|    Female|           PG|       Married| 45187.0|       626.0|    35335.0|    Business|    Self-employed|              6|      Excellent| 0.34850421550255795|     96908.0|       4.0|      Port Antonio|   WY|              Brazil|              0.0|     Medium|
| 10|Non-binary|           HS|      Divorced| 27313.0|       786.0|    24399.0|        Auto|    Self-employed|             10|      Excellent|  0.1510468100347879|    284643.0|       4.0|       Traceyshire|   FL|     North Macedonia|              0.0|        Low|
| 11|      Male|           HS|       Married| 77154.0|       726.0|        0.0|        Home|    Self-employed|              7|           Good|  0.2279881245447676|    281128.0|       2.0|  East Thomasmouth|   MN|           Hong Kong|              2.0|        Low|
| 12|Non-binary|           PG|       Widowed| 71500.0|       734.0|    44400.0|    Personal|    Self-employed|             14|      Excellent| 0.24810419892321986|    127985.0|       4.0|        Dustinbury|   CT|              Malawi|              0.0|        Low|
| 13|      Male|           HS|      Divorced| 41788.0|       656.0|    41755.0|        Home|         Employed|             17|           Poor|  0.2574316877026943|    161590.0|       0.0|   West Danielland|   MA|     Kyrgyz Republic|              1.0|     Medium|
| 14|      Male|          PhD|       Married| 80378.0|       639.0|    31920.0|    Business|         Employed|             11|           Good| 0.12484854148582583|    214743.0|       3.0|    South Amymouth|   IA|               Macao|              3.0|     Medium|
| 15|    Female|           UG|      Divorced| 22774.0|       603.0|    42803.0|        Home|         Employed|              1|      Excellent|  0.4430711586017164|        NULL|       2.0|       Josephmouth|   WY|             Reunion|              3.0|     Medium|
| 16|    Female|           HS|       Widowed|116604.0|         0.0|        0.0|        Auto|         Employed|             11|           Good|  0.5675990092599666|     85418.0|       0.0|       West Kimton|   CT|              Zambia|              0.0|     Medium|
| 17|Non-binary|           UG|       Married| 73140.0|       621.0|    29726.0|    Business|       Unemployed|              5|           Fair|  0.3763911109004887|     86124.0|       2.0|        Fowlerport|   GU|Central African R...|              2.0|     Medium|
| 18|      Male|           UG|      Divorced| 63578.0|       681.0|    26888.0|    Business|         Employed|             12|           Fair| 0.10171080242950517|     49558.0|       2.0|North Shannonmouth|   IA|           Venezuela|              4.0|        Low|
| 19|    Female|           PG|        Single|     0.0|       642.0|        0.0|    Personal|    Self-employed|             12|           Poor|  0.3699720501674575|    198426.0|       3.0|      Lake Charles|   GU|            Honduras|              0.0|        Low|
| 20|Non-binary|           HS|      Divorced| 65344.0|       724.0|        0.0|    Business|         Employed|              2|      Excellent| 0.18053225665211273|     77683.0|       3.0|     Christineside|   MH|              Angola|              4.0|        Low|
+---+----------+-------------+--------------+--------+------------+-----------+------------+-----------------+---------------+---------------+--------------------+------------+----------+------------------+-----+--------------------+-----------------+-----------+
only showing top 20 rows

In [30]:
df_main_final_1 = df_not_nulls \
    .withColumn("Dependents", col("Dependents").cast("int")) \
    .withColumn("Previous_Defaults", col("Previous_Defaults").cast("int"))

In [31]:
df_main_final_1.show()

+---+----------+-------------+--------------+--------+------------+-----------+------------+-----------------+---------------+---------------+--------------------+------------+----------+------------------+-----+--------------------+-----------------+-----------+
| id|    Gender|Qualification|Marital_status|  Income|Credit_score|Loan_Amount|Loan_Purpose|Employment_Status|Current_Job_YOE|Payment_History|Debt_to_Income_Ratio|Assets_Value|Dependents|              City|State|             Country|Previous_Defaults|Risk_Rating|
+---+----------+-------------+--------------+--------+------------+-----------+------------+-----------------+---------------+---------------+--------------------+------------+----------+------------------+-----+--------------------+-----------------+-----------+
|  1|      Male|           UG|       Widowed| 25605.0|       751.0|    14785.0|        Auto|       Unemployed|             17|           Fair| 0.33994669003424505|    285745.0|         3|      Samanthastad|   MI|               Congo|                1|       High|
|  2|Non-binary|           PG|       Widowed|     0.0|       779.0|    17616.0|        Auto|         Employed|             18|      Excellent|  0.1515554246622575|    257783.0|         0|      New Johnland|   WA|              Jordan|                1|       High|
|  3|Non-binary|           UG|       Married| 36756.0|       608.0|    13957.0|    Personal|       Unemployed|              0|           Fair| 0.15481403667787233|    245075.0|         4|      Port Jessica|   FL|            Tanzania|                2|       High|
|  4|      Male|           PG|       Widowed| 84162.0|       606.0|     5015.0|    Business|    Self-employed|             17|           Poor|  0.3890696709800946|    275773.0|         1|       Amandamouth|   KS|            Cambodia|                1|        Low|
|  5|    Female|           UG|        Single|117270.0|       639.0|    12351.0|    Business|    Self-employed|              1|           Poor|  0.1654573496046464|    186272.0|         4|       Donaldville|   HI|               Egypt|                3|     Medium|
|  6|Non-binary|           PG|        Single|     0.0|       651.0|    18653.0|        Home|    Self-employed|             16|           Good| 0.49222995000773917|    226806.0|         0|       Curtisville|   PW|             Mayotte|                3|       High|
|  7|Non-binary|           PG|      Divorced|     0.0|         0.0|    32113.0|        Home|         Employed|              2|      Excellent| 0.15963381099114013|     50047.0|         3|        Joneshaven|   MN|              Kuwait|                2|     Medium|
|  8|    Female|           PG|      Divorced|     0.0|       748.0|    14522.0|        Home|       Unemployed|             14|           Good|  0.5628099578361062|    176629.0|         0|      Campbellfort|   AL|               China|                1|        Low|
|  9|    Female|           PG|       Married| 45187.0|       626.0|    35335.0|    Business|    Self-employed|              6|      Excellent| 0.34850421550255795|     96908.0|         4|      Port Antonio|   WY|              Brazil|                0|     Medium|
| 10|Non-binary|           HS|      Divorced| 27313.0|       786.0|    24399.0|        Auto|    Self-employed|             10|      Excellent|  0.1510468100347879|    284643.0|         4|       Traceyshire|   FL|     North Macedonia|                0|        Low|
| 11|      Male|           HS|       Married| 77154.0|       726.0|        0.0|        Home|    Self-employed|              7|           Good|  0.2279881245447676|    281128.0|         2|  East Thomasmouth|   MN|           Hong Kong|                2|        Low|
| 12|Non-binary|           PG|       Widowed| 71500.0|       734.0|    44400.0|    Personal|    Self-employed|             14|      Excellent| 0.24810419892321986|    127985.0|         4|        Dustinbury|   CT|              Malawi|                0|        Low|
| 13|      Male|           HS|      Divorced| 41788.0|       656.0|    41755.0|        Home|         Employed|             17|           Poor|  0.2574316877026943|    161590.0|         0|   West Danielland|   MA|     Kyrgyz Republic|                1|     Medium|
| 14|      Male|          PhD|       Married| 80378.0|       639.0|    31920.0|    Business|         Employed|             11|           Good| 0.12484854148582583|    214743.0|         3|    South Amymouth|   IA|               Macao|                3|     Medium|
| 15|    Female|           UG|      Divorced| 22774.0|       603.0|    42803.0|        Home|         Employed|              1|      Excellent|  0.4430711586017164|        NULL|         2|       Josephmouth|   WY|             Reunion|                3|     Medium|
| 16|    Female|           HS|       Widowed|116604.0|         0.0|        0.0|        Auto|         Employed|             11|           Good|  0.5675990092599666|     85418.0|         0|       West Kimton|   CT|              Zambia|                0|     Medium|
| 17|Non-binary|           UG|       Married| 73140.0|       621.0|    29726.0|    Business|       Unemployed|              5|           Fair|  0.3763911109004887|     86124.0|         2|        Fowlerport|   GU|Central African R...|                2|     Medium|
| 18|      Male|           UG|      Divorced| 63578.0|       681.0|    26888.0|    Business|         Employed|             12|           Fair| 0.10171080242950517|     49558.0|         2|North Shannonmouth|   IA|           Venezuela|                4|        Low|
| 19|    Female|           PG|        Single|     0.0|       642.0|        0.0|    Personal|    Self-employed|             12|           Poor|  0.3699720501674575|    198426.0|         3|      Lake Charles|   GU|            Honduras|                0|        Low|
| 20|Non-binary|           HS|      Divorced| 65344.0|       724.0|        0.0|    Business|         Employed|              2|      Excellent| 0.18053225665211273|     77683.0|         3|     Christineside|   MH|              Angola|                4|        Low|
+---+----------+-------------+--------------+--------+------------+-----------+------------+-----------------+---------------+---------------+--------------------+------------+----------+------------------+-----+--------------------+-----------------+-----------+
only showing top 20 rows

In [32]:
df_main_final_2 = df_main_final_1.withColumn('Credit_score',col('Credit_score').cast('int'))

In [33]:
df_main_final_2.show()

+---+----------+-------------+--------------+--------+------------+-----------+------------+-----------------+---------------+---------------+--------------------+------------+----------+------------------+-----+--------------------+-----------------+-----------+
| id|    Gender|Qualification|Marital_status|  Income|Credit_score|Loan_Amount|Loan_Purpose|Employment_Status|Current_Job_YOE|Payment_History|Debt_to_Income_Ratio|Assets_Value|Dependents|              City|State|             Country|Previous_Defaults|Risk_Rating|
+---+----------+-------------+--------------+--------+------------+-----------+------------+-----------------+---------------+---------------+--------------------+------------+----------+------------------+-----+--------------------+-----------------+-----------+
|  1|      Male|           UG|       Widowed| 25605.0|         751|    14785.0|        Auto|       Unemployed|             17|           Fair| 0.33994669003424505|    285745.0|         3|      Samanthastad|   MI|               Congo|                1|       High|
|  2|Non-binary|           PG|       Widowed|     0.0|         779|    17616.0|        Auto|         Employed|             18|      Excellent|  0.1515554246622575|    257783.0|         0|      New Johnland|   WA|              Jordan|                1|       High|
|  3|Non-binary|           UG|       Married| 36756.0|         608|    13957.0|    Personal|       Unemployed|              0|           Fair| 0.15481403667787233|    245075.0|         4|      Port Jessica|   FL|            Tanzania|                2|       High|
|  4|      Male|           PG|       Widowed| 84162.0|         606|     5015.0|    Business|    Self-employed|             17|           Poor|  0.3890696709800946|    275773.0|         1|       Amandamouth|   KS|            Cambodia|                1|        Low|
|  5|    Female|           UG|        Single|117270.0|         639|    12351.0|    Business|    Self-employed|              1|           Poor|  0.1654573496046464|    186272.0|         4|       Donaldville|   HI|               Egypt|                3|     Medium|
|  6|Non-binary|           PG|        Single|     0.0|         651|    18653.0|        Home|    Self-employed|             16|           Good| 0.49222995000773917|    226806.0|         0|       Curtisville|   PW|             Mayotte|                3|       High|
|  7|Non-binary|           PG|      Divorced|     0.0|           0|    32113.0|        Home|         Employed|              2|      Excellent| 0.15963381099114013|     50047.0|         3|        Joneshaven|   MN|              Kuwait|                2|     Medium|
|  8|    Female|           PG|      Divorced|     0.0|         748|    14522.0|        Home|       Unemployed|             14|           Good|  0.5628099578361062|    176629.0|         0|      Campbellfort|   AL|               China|                1|        Low|
|  9|    Female|           PG|       Married| 45187.0|         626|    35335.0|    Business|    Self-employed|              6|      Excellent| 0.34850421550255795|     96908.0|         4|      Port Antonio|   WY|              Brazil|                0|     Medium|
| 10|Non-binary|           HS|      Divorced| 27313.0|         786|    24399.0|        Auto|    Self-employed|             10|      Excellent|  0.1510468100347879|    284643.0|         4|       Traceyshire|   FL|     North Macedonia|                0|        Low|
| 11|      Male|           HS|       Married| 77154.0|         726|        0.0|        Home|    Self-employed|              7|           Good|  0.2279881245447676|    281128.0|         2|  East Thomasmouth|   MN|           Hong Kong|                2|        Low|
| 12|Non-binary|           PG|       Widowed| 71500.0|         734|    44400.0|    Personal|    Self-employed|             14|      Excellent| 0.24810419892321986|    127985.0|         4|        Dustinbury|   CT|              Malawi|                0|        Low|
| 13|      Male|           HS|      Divorced| 41788.0|         656|    41755.0|        Home|         Employed|             17|           Poor|  0.2574316877026943|    161590.0|         0|   West Danielland|   MA|     Kyrgyz Republic|                1|     Medium|
| 14|      Male|          PhD|       Married| 80378.0|         639|    31920.0|    Business|         Employed|             11|           Good| 0.12484854148582583|    214743.0|         3|    South Amymouth|   IA|               Macao|                3|     Medium|
| 15|    Female|           UG|      Divorced| 22774.0|         603|    42803.0|        Home|         Employed|              1|      Excellent|  0.4430711586017164|        NULL|         2|       Josephmouth|   WY|             Reunion|                3|     Medium|
| 16|    Female|           HS|       Widowed|116604.0|           0|        0.0|        Auto|         Employed|             11|           Good|  0.5675990092599666|     85418.0|         0|       West Kimton|   CT|              Zambia|                0|     Medium|
| 17|Non-binary|           UG|       Married| 73140.0|         621|    29726.0|    Business|       Unemployed|              5|           Fair|  0.3763911109004887|     86124.0|         2|        Fowlerport|   GU|Central African R...|                2|     Medium|
| 18|      Male|           UG|      Divorced| 63578.0|         681|    26888.0|    Business|         Employed|             12|           Fair| 0.10171080242950517|     49558.0|         2|North Shannonmouth|   IA|           Venezuela|                4|        Low|
| 19|    Female|           PG|        Single|     0.0|         642|        0.0|    Personal|    Self-employed|             12|           Poor|  0.3699720501674575|    198426.0|         3|      Lake Charles|   GU|            Honduras|                0|        Low|
| 20|Non-binary|           HS|      Divorced| 65344.0|         724|        0.0|    Business|         Employed|              2|      Excellent| 0.18053225665211273|     77683.0|         3|     Christineside|   MH|              Angola|                4|        Low|
+---+----------+-------------+--------------+--------+------------+-----------+------------+-----------------+---------------+---------------+--------------------+------------+----------+------------------+-----+--------------------+-----------------+-----------+
only showing top 20 rows

In [34]:
df_main_final_2.filter(col("Income") == 0.0).count()
df_main_final_2.filter(col('Credit_score') == 0).count()
df_main_before_drop_junk = df_main_final_2

df_main_before_drop_junk.show(3)

+---+----------+-------------+--------------+--------+------------+-----------+------------+-----------------+---------------+---------------+--------------------+------------+----------+------------+-----+--------------------+-----------------+-----------+
| id|    Gender|Qualification|Marital_status|  Income|Credit_score|Loan_Amount|Loan_Purpose|Employment_Status|Current_Job_YOE|Payment_History|Debt_to_Income_Ratio|Assets_Value|Dependents|        City|State|             Country|Previous_Defaults|Risk_Rating|
+---+----------+-------------+--------------+--------+------------+-----------+------------+-----------------+---------------+---------------+--------------------+------------+----------+------------+-----+--------------------+-----------------+-----------+
|  1|Non-binary|           PG|        Single|     0.0|         651|    18653.0|        Home|    Self-employed|             16|           Good| 0.49222995000773917|    226806.0|         0| Curtisville|   PW|             Mayotte|                3|       High|
|  2|Non-binary|           HS|      Divorced| 27313.0|         786|    24399.0|        Auto|    Self-employed|             10|      Excellent|  0.1510468100347879|    284643.0|         4| Traceyshire|   FL|     North Macedonia|                0|        Low|
|  3|Non-binary|          PhD|      Divorced|107329.0|         735|    22694.0|        Home|    Self-employed|              1|           Poor|   0.232809019850618|     71327.0|         4|East Michael|   MP|Netherlands Antilles|                0|        Low|
+---+----------+-------------+--------------+--------+------------+-----------+------------+-----------------+---------------+---------------+--------------------+------------+----------+------------+-----+--------------------+-----------------+-----------+
only showing top 3 rows

In [35]:
df_dropped_junk = df_main_final_2.filter(
    (col("Income") != 0) & (col("Credit_score") != 0))

In [36]:
df_dropped_junk.show()

+---+----------+-------------+--------------+--------+------------+-----------+------------+-----------------+---------------+---------------+--------------------+------------+----------+------------------+-----+--------------------+-----------------+-----------+
| id|    Gender|Qualification|Marital_status|  Income|Credit_score|Loan_Amount|Loan_Purpose|Employment_Status|Current_Job_YOE|Payment_History|Debt_to_Income_Ratio|Assets_Value|Dependents|              City|State|             Country|Previous_Defaults|Risk_Rating|
+---+----------+-------------+--------------+--------+------------+-----------+------------+-----------------+---------------+---------------+--------------------+------------+----------+------------------+-----+--------------------+-----------------+-----------+
|  2|    Female|           PG|       Widowed|102628.0|         654|    25442.0|        Home|       Unemployed|              8|           Poor|  0.1618325788225118|        NULL|         3|      West Patrick|   IA|              Taiwan|                1|     Medium|
|  5|Non-binary|          PhD|      Divorced|107329.0|         735|    22694.0|        Home|    Self-employed|              1|           Poor|   0.232809019850618|     71327.0|         4|      East Michael|   MP|Netherlands Antilles|                0|        Low|
|  7|Non-binary|           HS|      Divorced| 27313.0|         786|    24399.0|        Auto|    Self-employed|             10|      Excellent|  0.1510468100347879|    284643.0|         4|       Traceyshire|   FL|     North Macedonia|                0|        Low|
|  8|Non-binary|           HS|       Widowed| 99671.0|         669|    30460.0|    Personal|       Unemployed|             18|           Poor|  0.4338122306863922|     25531.0|         1| Jacquelineborough|   MP|              Greece|                1|     Medium|
|  9|Non-binary|           PG|       Widowed| 71500.0|         734|    44400.0|    Personal|    Self-employed|             14|      Excellent| 0.24810419892321986|    127985.0|         4|        Dustinbury|   CT|              Malawi|                0|        Low|
| 10|      Male|           PG|       Widowed| 84162.0|         606|     5015.0|    Business|    Self-employed|             17|           Poor|  0.3890696709800946|    275773.0|         1|       Amandamouth|   KS|            Cambodia|                1|        Low|
| 12|      Male|          PhD|       Married| 80378.0|         639|    31920.0|    Business|         Employed|             11|           Good| 0.12484854148582583|    214743.0|         3|    South Amymouth|   IA|               Macao|                3|     Medium|
| 15|Non-binary|          PhD|       Married|108644.0|         766|    45358.0|        Auto|    Self-employed|             15|           Poor| 0.48801635062349535|        NULL|         0|     North Francis|   IN|               Korea|                1|        Low|
| 16|      Male|           UG|      Divorced| 63578.0|         681|    26888.0|    Business|         Employed|             12|           Fair| 0.10171080242950517|     49558.0|         2|North Shannonmouth|   IA|           Venezuela|                4|        Low|
| 17|      Male|           PG|       Widowed| 27312.0|         777|    26528.0|        Home|    Self-employed|              5|      Excellent| 0.21617348489118102|    264157.0|         3|     East Benjamin|   NC|               Palau|                1|        Low|
| 18|Non-binary|           HS|      Divorced| 65344.0|         724|        0.0|    Business|         Employed|              2|      Excellent| 0.18053225665211273|     77683.0|         3|     Christineside|   MH|              Angola|                4|        Low|
| 19|      Male|           HS|       Married|118550.0|         753|    17210.0|        Auto|         Employed|              0|           Good|  0.1721926803992759|    258358.0|         3| West Kevinborough|   TX|          Tajikistan|                1|       High|
| 20|      Male|           UG|       Widowed| 25605.0|         751|    14785.0|        Auto|       Unemployed|             17|           Fair| 0.33994669003424505|    285745.0|         3|      Samanthastad|   MI|               Congo|                1|       High|
| 21|Non-binary|           UG|       Married| 36756.0|         608|    13957.0|    Personal|       Unemployed|              0|           Fair| 0.15481403667787233|    245075.0|         4|      Port Jessica|   FL|            Tanzania|                2|       High|
| 22|    Female|           UG|        Single|117270.0|         639|    12351.0|    Business|    Self-employed|              1|           Poor|  0.1654573496046464|    186272.0|         4|       Donaldville|   HI|               Egypt|                3|     Medium|
| 24|    Female|           PG|       Married| 45187.0|         626|    35335.0|    Business|    Self-employed|              6|      Excellent| 0.34850421550255795|     96908.0|         4|      Port Antonio|   WY|              Brazil|                0|     Medium|
| 25|      Male|           HS|       Married| 77154.0|         726|        0.0|        Home|    Self-employed|              7|           Good|  0.2279881245447676|    281128.0|         2|  East Thomasmouth|   MN|           Hong Kong|                2|        Low|
| 26|      Male|           HS|      Divorced| 41788.0|         656|    41755.0|        Home|         Employed|             17|           Poor|  0.2574316877026943|    161590.0|         0|   West Danielland|   MA|     Kyrgyz Republic|                1|     Medium|
| 27|    Female|           UG|      Divorced| 22774.0|         603|    42803.0|        Home|         Employed|              1|      Excellent|  0.4430711586017164|        NULL|         2|       Josephmouth|   WY|             Reunion|                3|     Medium|
| 28|Non-binary|           UG|       Married| 73140.0|         621|    29726.0|    Business|       Unemployed|              5|           Fair|  0.3763911109004887|     86124.0|         2|        Fowlerport|   GU|Central African R...|                2|     Medium|
+---+----------+-------------+--------------+--------+------------+-----------+------------+-----------------+---------------+---------------+--------------------+------------+----------+------------------+-----+--------------------+-----------------+-----------+
only showing top 20 rows

In [37]:
from pyspark.sql.types import DecimalType

df_main_3 = df_dropped_junk.withColumn("Debt_to_Income_Ratio", col("Debt_to_Income_Ratio").cast(DecimalType(10, 3))) \
                            .withColumn('Income',col('Income').cast(DecimalType(10,3))) \
                            .withColumn('Loan_Amount',col('Loan_Amount').cast(DecimalType(10,3))) \
                            .withColumn('Assets_Value',col('Assets_Value').cast(DecimalType(10,3)))

In [38]:
df_main_3.show(14)

+---+----------+-------------+--------------+----------+------------+-----------+------------+-----------------+---------------+---------------+--------------------+------------+----------+------------------+-----+--------------------+-----------------+-----------+
| id|    Gender|Qualification|Marital_status|    Income|Credit_score|Loan_Amount|Loan_Purpose|Employment_Status|Current_Job_YOE|Payment_History|Debt_to_Income_Ratio|Assets_Value|Dependents|              City|State|             Country|Previous_Defaults|Risk_Rating|
+---+----------+-------------+--------------+----------+------------+-----------+------------+-----------------+---------------+---------------+--------------------+------------+----------+------------------+-----+--------------------+-----------------+-----------+
|  2|    Female|           PG|       Widowed|102628.000|         654|  25442.000|        Home|       Unemployed|              8|           Poor|               0.162|        NULL|         3|      West Patrick|   IA|              Taiwan|                1|     Medium|
|  5|Non-binary|          PhD|      Divorced|107329.000|         735|  22694.000|        Home|    Self-employed|              1|           Poor|               0.233|   71327.000|         4|      East Michael|   MP|Netherlands Antilles|                0|        Low|
|  7|Non-binary|           HS|      Divorced| 27313.000|         786|  24399.000|        Auto|    Self-employed|             10|      Excellent|               0.151|  284643.000|         4|       Traceyshire|   FL|     North Macedonia|                0|        Low|
|  8|Non-binary|           HS|       Widowed| 99671.000|         669|  30460.000|    Personal|       Unemployed|             18|           Poor|               0.434|   25531.000|         1| Jacquelineborough|   MP|              Greece|                1|     Medium|
|  9|Non-binary|           PG|       Widowed| 71500.000|         734|  44400.000|    Personal|    Self-employed|             14|      Excellent|               0.248|  127985.000|         4|        Dustinbury|   CT|              Malawi|                0|        Low|
| 10|      Male|           PG|       Widowed| 84162.000|         606|   5015.000|    Business|    Self-employed|             17|           Poor|               0.389|  275773.000|         1|       Amandamouth|   KS|            Cambodia|                1|        Low|
| 12|      Male|          PhD|       Married| 80378.000|         639|  31920.000|    Business|         Employed|             11|           Good|               0.125|  214743.000|         3|    South Amymouth|   IA|               Macao|                3|     Medium|
| 15|Non-binary|          PhD|       Married|108644.000|         766|  45358.000|        Auto|    Self-employed|             15|           Poor|               0.488|        NULL|         0|     North Francis|   IN|               Korea|                1|        Low|
| 16|      Male|           UG|      Divorced| 63578.000|         681|  26888.000|    Business|         Employed|             12|           Fair|               0.102|   49558.000|         2|North Shannonmouth|   IA|           Venezuela|                4|        Low|
| 17|      Male|           PG|       Widowed| 27312.000|         777|  26528.000|        Home|    Self-employed|              5|      Excellent|               0.216|  264157.000|         3|     East Benjamin|   NC|               Palau|                1|        Low|
| 18|Non-binary|           HS|      Divorced| 65344.000|         724|      0.000|    Business|         Employed|              2|      Excellent|               0.181|   77683.000|         3|     Christineside|   MH|              Angola|                4|        Low|
| 19|      Male|           HS|       Married|118550.000|         753|  17210.000|        Auto|         Employed|              0|           Good|               0.172|  258358.000|         3| West Kevinborough|   TX|          Tajikistan|                1|       High|
| 20|      Male|           UG|       Widowed| 25605.000|         751|  14785.000|        Auto|       Unemployed|             17|           Fair|               0.340|  285745.000|         3|      Samanthastad|   MI|               Congo|                1|       High|
| 21|Non-binary|           UG|       Married| 36756.000|         608|  13957.000|    Personal|       Unemployed|              0|           Fair|               0.155|  245075.000|         4|      Port Jessica|   FL|            Tanzania|                2|       High|
+---+----------+-------------+--------------+----------+------------+-----------+------------+-----------------+---------------+---------------+--------------------+------------+----------+------------------+-----+--------------------+-----------------+-----------+
only showing top 14 rows

In [39]:
df_final = df_main_3.fillna(0.000,subset = ['Assets_Value'])

In [40]:
df_final.show(9)

+---+----------+-------------+--------------+----------+------------+-----------+------------+-----------------+---------------+---------------+--------------------+------------+----------+------------------+-----+--------------------+-----------------+-----------+
| id|    Gender|Qualification|Marital_status|    Income|Credit_score|Loan_Amount|Loan_Purpose|Employment_Status|Current_Job_YOE|Payment_History|Debt_to_Income_Ratio|Assets_Value|Dependents|              City|State|             Country|Previous_Defaults|Risk_Rating|
+---+----------+-------------+--------------+----------+------------+-----------+------------+-----------------+---------------+---------------+--------------------+------------+----------+------------------+-----+--------------------+-----------------+-----------+
|  2|    Female|           PG|       Widowed|102628.000|         654|  25442.000|        Home|       Unemployed|              8|           Poor|               0.162|       0.000|         3|      West Patrick|   IA|              Taiwan|                1|     Medium|
|  5|Non-binary|          PhD|      Divorced|107329.000|         735|  22694.000|        Home|    Self-employed|              1|           Poor|               0.233|   71327.000|         4|      East Michael|   MP|Netherlands Antilles|                0|        Low|
|  7|Non-binary|           HS|      Divorced| 27313.000|         786|  24399.000|        Auto|    Self-employed|             10|      Excellent|               0.151|  284643.000|         4|       Traceyshire|   FL|     North Macedonia|                0|        Low|
|  8|Non-binary|           HS|       Widowed| 99671.000|         669|  30460.000|    Personal|       Unemployed|             18|           Poor|               0.434|   25531.000|         1| Jacquelineborough|   MP|              Greece|                1|     Medium|
|  9|Non-binary|           PG|       Widowed| 71500.000|         734|  44400.000|    Personal|    Self-employed|             14|      Excellent|               0.248|  127985.000|         4|        Dustinbury|   CT|              Malawi|                0|        Low|
| 10|      Male|           PG|       Widowed| 84162.000|         606|   5015.000|    Business|    Self-employed|             17|           Poor|               0.389|  275773.000|         1|       Amandamouth|   KS|            Cambodia|                1|        Low|
| 12|      Male|          PhD|       Married| 80378.000|         639|  31920.000|    Business|         Employed|             11|           Good|               0.125|  214743.000|         3|    South Amymouth|   IA|               Macao|                3|     Medium|
| 15|Non-binary|          PhD|       Married|108644.000|         766|  45358.000|        Auto|    Self-employed|             15|           Poor|               0.488|       0.000|         0|     North Francis|   IN|               Korea|                1|        Low|
| 16|      Male|           UG|      Divorced| 63578.000|         681|  26888.000|    Business|         Employed|             12|           Fair|               0.102|   49558.000|         2|North Shannonmouth|   IA|           Venezuela|                4|        Low|
+---+----------+-------------+--------------+----------+------------+-----------+------------+-----------------+---------------+---------------+--------------------+------------+----------+------------------+-----+--------------------+-----------------+-----------+
only showing top 9 rows

In [41]:
df_final.write.mode("overwrite").parquet("Norm_financial_risk")

In [42]:
df_parquet_file = spark.read.parquet('Norm_financial_risk',header=True,inferschema=True)

In [44]:
df_parquet_file.show(9)

+---+----------+-------------+--------------+----------+------------+-----------+------------+-----------------+---------------+---------------+--------------------+------------+----------+------------------+-----+--------------------+-----------------+-----------+
| id|    Gender|Qualification|Marital_status|    Income|Credit_score|Loan_Amount|Loan_Purpose|Employment_Status|Current_Job_YOE|Payment_History|Debt_to_Income_Ratio|Assets_Value|Dependents|              City|State|             Country|Previous_Defaults|Risk_Rating|
+---+----------+-------------+--------------+----------+------------+-----------+------------+-----------------+---------------+---------------+--------------------+------------+----------+------------------+-----+--------------------+-----------------+-----------+
|  2|    Female|           PG|       Widowed|102628.000|         654|  25442.000|        Home|       Unemployed|              8|           Poor|               0.162|       0.000|         3|      West Patrick|   IA|              Taiwan|                1|     Medium|
|  5|Non-binary|          PhD|      Divorced|107329.000|         735|  22694.000|        Home|    Self-employed|              1|           Poor|               0.233|   71327.000|         4|      East Michael|   MP|Netherlands Antilles|                0|        Low|
|  7|Non-binary|           HS|      Divorced| 27313.000|         786|  24399.000|        Auto|    Self-employed|             10|      Excellent|               0.151|  284643.000|         4|       Traceyshire|   FL|     North Macedonia|                0|        Low|
|  8|Non-binary|           HS|       Widowed| 99671.000|         669|  30460.000|    Personal|       Unemployed|             18|           Poor|               0.434|   25531.000|         1| Jacquelineborough|   MP|              Greece|                1|     Medium|
|  9|Non-binary|           PG|       Widowed| 71500.000|         734|  44400.000|    Personal|    Self-employed|             14|      Excellent|               0.248|  127985.000|         4|        Dustinbury|   CT|              Malawi|                0|        Low|
| 10|      Male|           PG|       Widowed| 84162.000|         606|   5015.000|    Business|    Self-employed|             17|           Poor|               0.389|  275773.000|         1|       Amandamouth|   KS|            Cambodia|                1|        Low|
| 12|      Male|          PhD|       Married| 80378.000|         639|  31920.000|    Business|         Employed|             11|           Good|               0.125|  214743.000|         3|    South Amymouth|   IA|               Macao|                3|     Medium|
| 15|Non-binary|          PhD|       Married|108644.000|         766|  45358.000|        Auto|    Self-employed|             15|           Poor|               0.488|       0.000|         0|     North Francis|   IN|               Korea|                1|        Low|
| 16|      Male|           UG|      Divorced| 63578.000|         681|  26888.000|    Business|         Employed|             12|           Fair|               0.102|   49558.000|         2|North Shannonmouth|   IA|           Venezuela|                4|        Low|
+---+----------+-------------+--------------+----------+------------+-----------+------------+-----------------+---------------+---------------+--------------------+------------+----------+------------------+-----+--------------------+-----------------+-----------+
only showing top 9 rows

In [51]:
hadoop_conf = spark._jsc.hadoopConfiguration()
hadoop_conf.set("fs.s3a.impl", "org.apache.hadoop.fs.s3a.S3AFileSystem")
hadoop_conf.set("fs.s3a.aws.credentials.provider", "com.amazonaws.auth.profile.ProfileCredentialsProvider")
hadoop_conf.set("fs.s3a.profile", "default")

df_final.write.mode("overwrite").parquet("s3a://testing-purpose-for-projects/sample/")

In [52]:
df = spark.read.parquet("s3a://testing-purpose-for-projects/sample/")
df.show(9)

+---+----------+-------------+--------------+----------+------------+-----------+------------+-----------------+---------------+---------------+--------------------+------------+----------+------------------+-----+--------------------+-----------------+-----------+
| id|    Gender|Qualification|Marital_status|    Income|Credit_score|Loan_Amount|Loan_Purpose|Employment_Status|Current_Job_YOE|Payment_History|Debt_to_Income_Ratio|Assets_Value|Dependents|              City|State|             Country|Previous_Defaults|Risk_Rating|
+---+----------+-------------+--------------+----------+------------+-----------+------------+-----------------+---------------+---------------+--------------------+------------+----------+------------------+-----+--------------------+-----------------+-----------+
|  2|    Female|           PG|       Widowed|102628.000|         654|  25442.000|        Home|       Unemployed|              8|           Poor|               0.162|       0.000|         3|      West Patrick|   IA|              Taiwan|                1|     Medium|
|  5|Non-binary|          PhD|      Divorced|107329.000|         735|  22694.000|        Home|    Self-employed|              1|           Poor|               0.233|   71327.000|         4|      East Michael|   MP|Netherlands Antilles|                0|        Low|
|  7|Non-binary|           HS|      Divorced| 27313.000|         786|  24399.000|        Auto|    Self-employed|             10|      Excellent|               0.151|  284643.000|         4|       Traceyshire|   FL|     North Macedonia|                0|        Low|
|  8|Non-binary|           HS|       Widowed| 99671.000|         669|  30460.000|    Personal|       Unemployed|             18|           Poor|               0.434|   25531.000|         1| Jacquelineborough|   MP|              Greece|                1|     Medium|
|  9|Non-binary|           PG|       Widowed| 71500.000|         734|  44400.000|    Personal|    Self-employed|             14|      Excellent|               0.248|  127985.000|         4|        Dustinbury|   CT|              Malawi|                0|        Low|
| 10|      Male|           PG|       Widowed| 84162.000|         606|   5015.000|    Business|    Self-employed|             17|           Poor|               0.389|  275773.000|         1|       Amandamouth|   KS|            Cambodia|                1|        Low|
| 12|      Male|          PhD|       Married| 80378.000|         639|  31920.000|    Business|         Employed|             11|           Good|               0.125|  214743.000|         3|    South Amymouth|   IA|               Macao|                3|     Medium|
| 15|Non-binary|          PhD|       Married|108644.000|         766|  45358.000|        Auto|    Self-employed|             15|           Poor|               0.488|       0.000|         0|     North Francis|   IN|               Korea|                1|        Low|
| 16|      Male|           UG|      Divorced| 63578.000|         681|  26888.000|    Business|         Employed|             12|           Fair|               0.102|   49558.000|         2|North Shannonmouth|   IA|           Venezuela|                4|        Low|
+---+----------+-------------+--------------+----------+------------+-----------+------------+-----------------+---------------+---------------+--------------------+------------+----------+------------------+-----+--------------------+-----------------+-----------+
only showing top 9 rows

In [45]:
print(spark._jvm.org.apache.hadoop.fs.s3a.S3AFileSystem)

<py4j.java_gateway.JavaClass object at 0x7f33bd271e90>

In [46]:
print(spark.sparkContext._jvm.java.lang.System.getProperty("java.class.path"))

/usr/local/spark/conf/:/usr/local/spark/jars/ivy-2.5.1.jar:/usr/local/spark/jars/hadoop-yarn-server-web-proxy-3.3.4.jar:/usr/local/spark/jars/jakarta.validation-api-2.0.2.jar:/usr/local/spark/jars/arrow-vector-12.0.1.jar:/usr/local/spark/jars/spire_2.12-0.17.0.jar:/usr/local/spark/jars/leveldbjni-all-1.8.jar:/usr/local/spark/jars/shims-0.9.45.jar:/usr/local/spark/jars/log4j-core-2.20.0.jar:/usr/local/spark/jars/bonecp-0.8.0.RELEASE.jar:/usr/local/spark/jars/metrics-jvm-4.2.19.jar:/usr/local/spark/jars/kubernetes-model-rbac-6.7.2.jar:/usr/local/spark/jars/spark-mllib_2.12-3.5.0.jar:/usr/local/spark/jars/netty-resolver-4.1.96.Final.jar:/usr/local/spark/jars/spark-graphx_2.12-3.5.0.jar:/usr/local/spark/jars/flatbuffers-java-1.12.0.jar:/usr/local/spark/jars/commons-collections4-4.4.jar:/usr/local/spark/jars/hive-jdbc-2.3.9.jar:/usr/local/spark/jars/spark-mesos_2.12-3.5.0.jar:/usr/local/spark/jars/dropwizard-metrics-hadoop-metrics2-reporter-0.1.2.jar:/usr/local/spark/jars/paranamer-2.8.jar:/usr/local/spark/jars/json4s-core_2.12-3.7.0-M11.jar:/usr/local/spark/jars/kubernetes-client-6.7.2.jar:/usr/local/spark/jars/kubernetes-model-storageclass-6.7.2.jar:/usr/local/spark/jars/kubernetes-model-metrics-6.7.2.jar:/usr/local/spark/jars/netty-transport-native-epoll-4.1.96.Final-linux-aarch_64.jar:/usr/local/spark/jars/spark-sketch_2.12-3.5.0.jar:/usr/local/spark/jars/gson-2.2.4.jar:/usr/local/spark/jars/datanucleus-core-4.1.17.jar:/usr/local/spark/jars/netty-transport-native-kqueue-4.1.96.Final-osx-x86_64.jar:/usr/local/spark/jars/metrics-core-4.2.19.jar:/usr/local/spark/jars/hive-exec-2.3.9-core.jar:/usr/local/spark/jars/kubernetes-model-common-6.7.2.jar:/usr/local/spark/jars/hk2-utils-2.6.1.jar:/usr/local/spark/jars/commons-logging-1.1.3.jar:/usr/local/spark/jars/commons-math3-3.6.1.jar:/usr/local/spark/jars/jackson-databind-2.15.2.jar:/usr/local/spark/jars/libthrift-0.12.0.jar:/usr/local/spark/jars/hk2-api-2.6.1.jar:/usr/local/spark/jars/lz4-java-1.8.0.jar:/usr/local/spark/jars/parquet-encoding-1.13.1.jar:/usr/local/spark/jars/jackson-dataformat-yaml-2.15.2.jar:/usr/local/spark/jars/parquet-column-1.13.1.jar:/usr/local/spark/jars/aopalliance-repackaged-2.6.1.jar:/usr/local/spark/jars/zookeeper-3.6.3.jar:/usr/local/spark/jars/minlog-1.3.0.jar:/usr/local/spark/jars/spark-sql_2.12-3.5.0.jar:/usr/local/spark/jars/jakarta.xml.bind-api-2.3.2.jar:/usr/local/spark/jars/kubernetes-model-gatewayapi-6.7.2.jar:/usr/local/spark/jars/hive-llap-common-2.3.9.jar:/usr/local/spark/jars/activation-1.1.1.jar:/usr/local/spark/jars/commons-lang-2.6.jar:/usr/local/spark/jars/jersey-common-2.40.jar:/usr/local/spark/jars/log4j-api-2.20.0.jar:/usr/local/spark/jars/curator-client-2.13.0.jar:/usr/local/spark/jars/jakarta.ws.rs-api-2.1.6.jar:/usr/local/spark/jars/RoaringBitmap-0.9.45.jar:/usr/local/spark/jars/pickle-1.3.jar:/usr/local/spark/jars/kubernetes-model-batch-6.7.2.jar:/usr/local/spark/jars/oro-2.0.8.jar:/usr/local/spark/jars/netty-transport-classes-epoll-4.1.96.Final.jar:/usr/local/spark/jars/httpclient-4.5.14.jar:/usr/local/spark/jars/commons-pool-1.5.4.jar:/usr/local/spark/jars/stax-api-1.0.1.jar:/usr/local/spark/jars/jakarta.servlet-api-4.0.3.jar:/usr/local/spark/jars/netty-transport-4.1.96.Final.jar:/usr/local/spark/jars/hive-storage-api-2.8.1.jar:/usr/local/spark/jars/xbean-asm9-shaded-4.23.jar:/usr/local/spark/jars/breeze-macros_2.12-2.1.0.jar:/usr/local/spark/jars/kubernetes-model-admissionregistration-6.7.2.jar:/usr/local/spark/jars/jersey-server-2.40.jar:/usr/local/spark/jars/commons-compress-1.23.0.jar:/usr/local/spark/jars/hive-common-2.3.9.jar:/usr/local/spark/jars/parquet-format-structures-1.13.1.jar:/usr/local/spark/jars/jpam-1.1.jar:/usr/local/spark/jars/jackson-module-scala_2.12-2.15.2.jar:/usr/local/spark/jars/jul-to-slf4j-2.0.7.jar:/usr/local/spark/jars/kubernetes-model-certificates-6.7.2.jar:/usr/local/spark/jars/commons-lang3-3.12.0.jar:/usr/local/spark/jars/transaction-api-1.1.jar:/usr/local/spark/jars/spark-network-common_2.12-3.5.0.jar:/usr/local/spark/jars/lapack-3.0.3.jar:/usr/local/spark/jars/jaxb-runtime-2.3.2.jar:/usr/local/spark/jars/scala-parser-combinators_2.12-2.3.0.jar:/usr/local/spark/jars/hive-beeline-2.3.9.jar:/usr/local/spark/jars/netty-transport-native-kqueue-4.1.96.Final-osx-aarch_64.jar:/usr/local/spark/jars/spark-sql-api_2.12-3.5.0.jar:/usr/local/spark/jars/chill_2.12-0.10.0.jar:/usr/local/spark/jars/okhttp-3.12.12.jar:/usr/local/spark/jars/jline-2.14.6.jar:/usr/local/spark/jars/kubernetes-model-resource-6.7.2.jar:/usr/local/spark/jars/jackson-annotations-2.15.2.jar:/usr/local/spark/jars/kubernetes-model-core-6.7.2.jar:/usr/local/spark/jars/zjsonpatch-0.3.0.jar:/usr/local/spark/jars/xz-1.9.jar:/usr/local/spark/jars/blas-3.0.3.jar:/usr/local/spark/jars/metrics-json-4.2.19.jar:/usr/local/spark/jars/hive-shims-common-2.3.9.jar:/usr/local/spark/jars/spark-mllib-local_2.12-3.5.0.jar:/usr/local/spark/jars/datanucleus-api-jdo-4.2.4.jar:/usr/local/spark/jars/arpack_combined_all-0.1.jar:/usr/local/spark/jars/guava-14.0.1.jar:/usr/local/spark/jars/commons-crypto-1.1.0.jar:/usr/local/spark/jars/kubernetes-model-events-6.7.2.jar:/usr/local/spark/jars/parquet-hadoop-1.13.1.jar:/usr/local/spark/jars/logging-interceptor-3.12.12.jar:/usr/local/spark/jars/metrics-jmx-4.2.19.jar:/usr/local/spark/jars/antlr-runtime-3.5.2.jar:/usr/local/spark/jars/HikariCP-2.5.1.jar:/usr/local/spark/jars/zstd-jni-1.5.5-4.jar:/usr/local/spark/jars/curator-framework-2.13.0.jar:/usr/local/spark/jars/zookeeper-jute-3.6.3.jar:/usr/local/spark/jars/hk2-locator-2.6.1.jar:/usr/local/spark/jars/hadoop-client-runtime-3.3.4.jar:/usr/local/spark/jars/aircompressor-0.25.jar:/usr/local/spark/jars/hive-shims-0.23-2.3.9.jar:/usr/local/spark/jars/orc-core-1.9.1-shaded-protobuf.jar:/usr/local/spark/jars/netty-codec-http-4.1.96.Final.jar:/usr/local/spark/jars/parquet-jackson-1.13.1.jar:/usr/local/spark/jars/py4j-0.10.9.7.jar:/usr/local/spark/jars/hive-shims-scheduler-2.3.9.jar:/usr/local/spark/jars/avro-ipc-1.11.2.jar:/usr/local/spark/jars/datanucleus-rdbms-4.1.19.jar:/usr/local/spark/jars/jackson-core-2.15.2.jar:/usr/local/spark/jars/curator-recipes-2.13.0.jar:/usr/local/spark/jars/audience-annotations-0.5.0.jar:/usr/local/spark/jars/commons-codec-1.16.0.jar:/usr/local/spark/jars/scala-library-2.12.18.jar:/usr/local/spark/jars/metrics-graphite-4.2.19.jar:/usr/local/spark/jars/netty-codec-4.1.96.Final.jar:/usr/local/spark/jars/spark-network-shuffle_2.12-3.5.0.jar:/usr/local/spark/jars/commons-io-2.13.0.jar:/usr/local/spark/jars/netty-codec-socks-4.1.96.Final.jar:/usr/local/spark/jars/spark-hive-thriftserver_2.12-3.5.0.jar:/usr/local/spark/jars/kubernetes-model-policy-6.7.2.jar:/usr/local/spark/jars/netty-handler-proxy-4.1.96.Final.jar:/usr/local/spark/jars/istack-commons-runtime-3.0.8.jar:/usr/local/spark/jars/kubernetes-model-scheduling-6.7.2.jar:/usr/local/spark/jars/spire-util_2.12-0.17.0.jar:/usr/local/spark/jars/libfb303-0.9.3.jar:/usr/local/spark/jars/spire-macros_2.12-0.17.0.jar:/usr/local/spark/jars/kubernetes-model-coordination-6.7.2.jar:/usr/local/spark/jars/scala-compiler-2.12.18.jar:/usr/local/spark/jars/mesos-1.4.3-shaded-protobuf.jar:/usr/local/spark/jars/json4s-jackson_2.12-3.7.0-M11.jar:/usr/local/spark/jars/httpcore-4.4.16.jar:/usr/local/spark/jars/parquet-common-1.13.1.jar:/usr/local/spark/jars/spark-kubernetes_2.12-3.5.0.jar:/usr/local/spark/jars/osgi-resource-locator-1.0.3.jar:/usr/local/spark/jars/snakeyaml-engine-2.6.jar:/usr/local/spark/jars/tink-1.9.0.jar:/usr/local/spark/jars/okio-1.15.0.jar:/usr/local/spark/jars/spark-core_2.12-3.5.0.jar:/usr/local/spark/jars/compress-lzf-1.1.2.jar:/usr/local/spark/jars/opencsv-2.3.jar:/usr/local/spark/jars/javassist-3.29.2-GA.jar:/usr/local/spark/jars/kubernetes-model-node-6.7.2.jar:/usr/local/spark/jars/orc-shims-1.9.1.jar:/usr/local/spark/jars/spark-repl_2.12-3.5.0.jar:/usr/local/spark/jars/derby-10.14.2.0.jar:/usr/local/spark/jars/commons-cli-1.5.0.jar:/usr/local/spark/jars/spark-launcher_2.12-3.5.0.jar:/usr/local/spark/jars/jersey-container-servlet-2.40.jar:/usr/local/spark/jars/spire-platform_2.12-0.17.0.jar:/usr/local/spark/jars/netty-buffer-4.1.96.Final.jar:/usr/local/spark/jars/netty-codec-http2-4.1.96.Final.jar:/usr/local/spark/jars/spark-catalyst_2.12-3.5.0.jar:/usr/local/spark/jars/spark-hive_2.12-3.5.0.jar:/usr/local/spark/jars/jersey-container-servlet-core-2.40.jar:/usr/local/spark/jars/netty-transport-native-epoll-4.1.96.Final-linux-x86_64.jar:/usr/local/spark/jars/ST4-4.0.4.jar:/usr/local/spark/jars/JTransforms-3.1.jar:/usr/local/spark/jars/kubernetes-model-flowcontrol-6.7.2.jar:/usr/local/spark/jars/spark-tags_2.12-3.5.0.jar:/usr/local/spark/jars/jsr305-3.0.0.jar:/usr/local/spark/jars/netty-all-4.1.96.Final.jar:/usr/local/spark/jars/javolution-5.5.1.jar:/usr/local/spark/jars/scala-reflect-2.12.18.jar:/usr/local/spark/jars/commons-collections-3.2.2.jar:/usr/local/spark/jars/hive-serde-2.3.9.jar:/usr/local/spark/jars/antlr4-runtime-4.9.3.jar:/usr/local/spark/jars/hadoop-client-api-3.3.4.jar:/usr/local/spark/jars/annotations-17.0.0.jar:/usr/local/spark/jars/commons-compiler-3.1.9.jar:/usr/local/spark/jars/netty-handler-4.1.96.Final.jar:/usr/local/spark/jars/kubernetes-client-api-6.7.2.jar:/usr/local/spark/jars/jakarta.annotation-api-1.3.5.jar:/usr/local/spark/jars/kubernetes-model-autoscaling-6.7.2.jar:/usr/local/spark/jars/spark-unsafe_2.12-3.5.0.jar:/usr/local/spark/jars/arpack-3.0.3.jar:/usr/local/spark/jars/cats-kernel_2.12-2.1.1.jar:/usr/local/spark/jars/joda-time-2.12.5.jar:/usr/local/spark/jars/univocity-parsers-2.9.1.jar:/usr/local/spark/jars/arrow-memory-netty-12.0.1.jar:/usr/local/spark/jars/jdo-api-3.0.1.jar:/usr/local/spark/jars/hadoop-shaded-guava-1.1.1.jar:/usr/local/spark/jars/chill-java-0.10.0.jar:/usr/local/spark/jars/kubernetes-model-apps-6.7.2.jar:/usr/local/spark/jars/avro-1.11.2.jar:/usr/local/spark/jars/kubernetes-httpclient-okhttp-6.7.2.jar:/usr/local/spark/jars/stream-2.9.6.jar:/usr/local/spark/jars/JLargeArrays-1.5.jar:/usr/local/spark/jars/commons-text-1.10.0.jar:/usr/local/spark/jars/kubernetes-model-extensions-6.7.2.jar:/usr/local/spark/jars/json4s-scalap_2.12-3.7.0-M11.jar:/usr/local/spark/jars/hive-metastore-2.3.9.jar:/usr/local/spark/jars/commons-dbcp-1.4.jar:/usr/local/spark/jars/jersey-hk2-2.40.jar:/usr/local/spark/jars/arrow-memory-core-12.0.1.jar:/usr/local/spark/jars/datasketches-memory-2.1.0.jar:/usr/local/spark/jars/rocksdbjni-8.3.2.jar:/usr/local/spark/jars/kubernetes-model-discovery-6.7.2.jar:/usr/local/spark/jars/snappy-java-1.1.10.3.jar:/usr/local/spark/jars/log4j-slf4j2-impl-2.20.0.jar:/usr/local/spark/jars/netty-transport-classes-kqueue-4.1.96.Final.jar:/usr/local/spark/jars/jersey-client-2.40.jar:/usr/local/spark/jars/avro-mapred-1.11.2.jar:/usr/local/spark/jars/kubernetes-model-apiextensions-6.7.2.jar:/usr/local/spark/jars/snakeyaml-2.0.jar:/usr/local/spark/jars/netty-common-4.1.96.Final.jar:/usr/local/spark/jars/scala-collection-compat_2.12-2.7.0.jar:/usr/local/spark/jars/jodd-core-3.5.2.jar:/usr/local/spark/jars/datasketches-java-3.3.0.jar:/usr/local/spark/jars/json4s-ast_2.12-3.7.0-M11.jar:/usr/local/spark/jars/orc-mapreduce-1.9.1-shaded-protobuf.jar:/usr/local/spark/jars/scala-xml_2.12-2.1.0.jar:/usr/local/spark/jars/threeten-extra-1.7.1.jar:/usr/local/spark/jars/jakarta.inject-2.6.1.jar:/usr/local/spark/jars/arrow-format-12.0.1.jar:/usr/local/spark/jars/jackson-core-asl-1.9.13.jar:/usr/local/spark/jars/log4j-1.2-api-2.20.0.jar:/usr/local/spark/jars/hive-cli-2.3.9.jar:/usr/local/spark/jars/jackson-datatype-jsr310-2.15.2.jar:/usr/local/spark/jars/objenesis-3.3.jar:/usr/local/spark/jars/spark-yarn_2.12-3.5.0.jar:/usr/local/spark/jars/algebra_2.12-2.0.1.jar:/usr/local/spark/jars/hive-service-rpc-3.1.3.jar:/usr/local/spark/jars/jta-1.1.jar:/usr/local/spark/jars/super-csv-2.2.0.jar:/usr/local/spark/jars/jcl-over-slf4j-2.0.7.jar:/usr/local/spark/jars/slf4j-api-2.0.7.jar:/usr/local/spark/jars/kubernetes-model-networking-6.7.2.jar:/usr/local/spark/jars/breeze_2.12-2.1.0.jar:/usr/local/spark/jars/netty-transport-native-unix-common-4.1.96.Final.jar:/usr/local/spark/jars/kryo-shaded-4.0.2.jar:/usr/local/spark/jars/json-1.8.jar:/usr/local/spark/jars/spark-streaming_2.12-3.5.0.jar:/usr/local/spark/jars/spark-kvstore_2.12-3.5.0.jar:/usr/local/spark/jars/spark-common-utils_2.12-3.5.0.jar:/usr/local/spark/jars/hive-shims-2.3.9.jar:/usr/local/spark/jars/javax.jdo-3.2.0-m3.jar:/usr/local/spark/jars/janino-3.1.9.jar:/usr/local/spark/jars/jackson-mapper-asl-1.9.13.jar:/usr/local/spark/jars/aws-java-sdk-bundle-1.12.539.jar:/usr/local/spark/jars/hadoop-aws-3.3.4.jar